---
import BaseLayout from "~/layouts/BaseLayout.astro"
import IndexPage from "~/components/page/index"
---

<BaseLayout>
	<div class="text-center">
		<h1 style="font-size: 3.5em;">Antidoc</h1>
		<p>The ultimate documentation template powered by Astro.</p>
	</div>
</BaseLayout>
