---
import BaseLayout from "~/layouts/BaseLayout.astro"
import IndexPage from "~/components/page/index"
---

<BaseLayout>
	<p>
		<br />
		<br />
		<br />
		asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi
		asdhfio haowi asdhfio haowi
		<br />
		asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi
		asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi
		asdhfio haowi asdhfio haowi
		<br />
		asdhfio haowi asdhfio haowi
		<br />
		<br />
		asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi
		asdhfio haowi asdhfio haowi
		<br />
		<br />
		<br />
		asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi asdhfio haowi
		asdhfio haowi asdhfio haowi
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
	</p>
	<IndexPage client:only="solid-js" />
</BaseLayout>
