---
import { MarkdownHeading } from "astro"
import { CollectionEntry } from "astro:content"
import BaseLayout from "./BaseLayout.astro"
import LeftSidebar from "~/components/layout/sidebar/LeftSidebar.astro"
import { Slug, sidebar } from "config"
import { docLayout } from "./DocLayout.css"

export interface Props {
	entry: CollectionEntry<"docs">
	headings: MarkdownHeading[]
	slug: Slug
}

const { headings, entry, slug } = Astro.props
---

<BaseLayout>
	<div class={docLayout.wrapper}>
		<LeftSidebar currentPageSlug={slug} items={sidebar} />

		<article class={docLayout.main}>
			<slot />
		</article>
	</div>
</BaseLayout>

<style lang="sass">
	article
		width: 100%
		margin-right: 2em
</style>
